.menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

.menu ul li{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

.menu ul li ul{
    display: none;
    position: absolute;
    background-color: blue;
}



.box1, .box2, .box3, .box4, .box5, .box6{

    font-size: 40px;
    text-align: center;
    padding: 10px;
    background-color: aqua;
}

.parent{
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-between;
}
